li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}


.nav{
    display: grid;
    grid-template-areas: "title items";
    grid-template-columns: 100px min-content;
}

.nav-brand{
    grid-area: title;
    align-self: center;
}

.nav-items{
    grid-area: items;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
}

.nav-item{
    justify-content: center;
}
