<div class="nav">
    <div class='nav-brand'>
        <a [routerLink]='["/"]'>Test task</a>
    </div>
    <div class='nav-items'>
        <div class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a [routerLink]='["/"]'>
                <span class='glyphicon glyphicon-plus'></span> Create
            </a>
        </div>
        <div class="nav-item" [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/listing"]'>
                <span class='glyphicon glyphicon-search'></span> Listing
            </a>
        </div>
    </div>
</div>
