
.app {
    display: grid;
    grid-template-areas: "menu" "content";
    grid-row-gap: 20px;
}

    .app > .menu {
        grid-area: menu;
    }

    .app > .content {
        grid-area: content;
    }
